<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_00_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{0,0},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_01_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{384,0},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_02_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{768,0},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_03_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{1152,0},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_04_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{1536,0},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_05_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{0,192},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_06_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{384,192},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_07_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{768,192},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_08_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{1152,192},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_09_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{1536,192},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_10_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{0,384},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_11_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{384,384},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_12_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{768,384},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_13_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{1152,384},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_14_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{1536,384},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_15_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{0,576},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_16_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{384,576},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_17_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{768,576},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_18_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{1152,576},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_19_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{1536,576},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_20_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{0,768},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_21_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{384,768},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_22_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{768,768},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_23_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{1152,768},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_24_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{1536,768},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_25_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{0,960},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_26_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{384,960},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_27_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{768,960},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_28_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{1152,960},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_29_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{1536,960},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_30_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{0,1152},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_31_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{384,1152},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_32_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{768,1152},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_33_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{1152,1152},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_34_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{1536,1152},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_35_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{0,1344},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_36_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{384,1344},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_37_delay-0.04s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,192}</string>
                <key>spriteSourceSize</key>
                <string>{384,192}</string>
                <key>textureRect</key>
                <string>{{768,1344},{384,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{1920,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c4249778fc23b44f9001db95b4ae076:8184b44f4f33ce92dddf10fb1245daba:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
